/*

Blaster Template

http://www.templatemo.com/tm-472-blaster

*/

body {
  background: #ffffff;
  font-family: 'Roboto', sans-serif;
  position: relative;
}

html, body {
  width: 100%;
  overflow-x: hidden;
}

h2, h3, h4 {
  font-family: 'Roboto', sans-serif;
  color: #376374;
  font-weight: lighter;
}

h1 {
  font-family: 'Paytone One', sans-serif;
  color: #376374;
  font-weight: lighter;
}

.heading {
  font-size: 50px;
}

.subheading {
  font-size: 14px;
  font-weight: bold;
  padding-bottom: 60px;
}

.bold {
  font-weight: bold;
}

p {
  letter-spacing: 0px;
  line-height: 28px;
}

#about, #team, #contact {
  padding-top: 100px;
  padding-bottom: 100px;
}

#about .fa {
  font-size: 28px;
  min-width: 34px;
}

/* start navigation */

.custom-navbar {
  background: #ffffff;
}

.navbar-brand {
  display: block;
}

.navbar-brand img {
  width: 100px;
}

.navbar-twice {
  display: none;
}

.navbar-twice img {
  margin-top: 15px;
  width: 100px;
}

.custom-navbar .navbar-brand .navbar-toggle {
  background: #77B9C6;
  padding: 4px 6px;
  font-size: 16px;
  color: #fff;
}

.custom-navbar .nav li a {
  color: #376374;
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 2px;
  padding-right: 20px;
  padding-left: 20px;
  transition: all 0.1s ease-in-out;
}

.custom-navbar .nav li a:hover {
  background: #77B9C6;
  transition: all 0.1s ease-in-out;
}

.custom-navbar .nav>li>a:focus {
  background-color: transparent;
  outline: none;
}

.custom-navbar .nav li.active>a {
  background-color: #77B9C6;
}

.custom-navbar .navbar-toggle {
  border-color: #77B9C6;
  padding-top: 10px;
}

.custom-navbar .navbar-toggle .icon-bar {
  background: #77B9C6;
  border-color: transparent;
}

@media(min-width:768px) {
  .custom-navbar {
    padding: 14px;
    background: transparent;
  }
  .navbar-brand {
    display: none;
    width: 100px;
  }
  .navbar-twice {
    display: block;
    width: 100px;
  }
  .navbar-brand.top-nav-collapse {
    display: block;
    width: 100px;
  }
  .navbar-twice.top-nav-collapse {
    display: none;
    width: 100px;
  }
  .custom-navbar.top-nav-collapse {
    padding: 14px;
    background: #ffffff;
    border-bottom: 1px solid #77B9C6;
  }
  .custom-navbar .nav li a {
    color: #ffffff;
    font-size: 19px;
    font-weight: 200;
    letter-spacing: 1px;
    padding-right: 20px;
    padding-left: 20px;
    transition: all 0.1s ease-in-out;
  }
  .custom-navbar.top-nav-collapse .nav li>a {
    color: #376374;
    font-size: 19px;
    font-weight: 200;
    letter-spacing: 1px;
    padding-right: 20px;
    padding-left: 20px;
    transition: all 0.1s ease-in-out;
  }
  .custom-navbar .nav li.active>a {
    background-color: #77B9C6;
    color: #ffffff;
    font-size: 19px;
    font-weight: 200;
  }
  .custom-navbar.top-nav-collapse .nav li.active>a {
    background-color: #77B9C6;
    color: #376374;
    font-size: 19px;
    font-weight: 200;
  }
}

/* home section */

#home {
  background: url('../images/background.jpg') no-repeat center center;
  -webkit-background-size: center;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: cover;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: left;
  -webkit-align-items: left;
  -ms-flex-align: left;
  align-items: center;
  height: 100vh;
  text-align: center;
}

#home hr {
  border: 2px solid #376374;
  width: 100px;
}

#home h3 {
  background: transparent;
  color: #ffffff;
  font-weight: lighter;
  letter-spacing: 0.6px;
}

#home .btn {
  background: #f4f4f4;
  border-radius: 0;
  border: 3px solid #376374;
  color: #376374;
  font-weight: normal;
  letter-spacing: 0.2px;
  padding: 16px 42px;
  margin-top: 40px;
  transition: all 0.2s ease-in-out;
}

#home .btn:hover {
  background: #77B9C6;
  color: #376374;
}

/* about section */

#about {
  background: #f4f4f4;
}

#about .col-md-4 .fa {
  background: #77B9C6;
  color: #376374;
  border-radius: 50%;
  font-size: 32px;
  width: 80px;
  height: 80px;
  line-height: 80px;
  text-align: center;
  position: center;
}

#about .col-md-6 {
  padding-top: 60px;
}

#about .col-md-6 h3 {
  padding-top: 40px;
  padding-bottom: 10px;
}

#about .col-md-6 p {
  padding-bottom: 30px;
}

#about span {
  display: block;
  padding-bottom: 6px;
}

#about .progress {
  border-radius: 0;
  box-shadow: none;
  height: 6px;
}

#about .progress .progress-bar-primary {
  background: #77B9C6;
}

/* portfolio section */

#portfolio {
  padding-top: 100px;
  background: #ffffff;
  text-align: center;
}

#portfolio h2 {
  font-weight: normal;
}

#portfolio .container {
  width: 100%;
  padding: 15px;
  margin: 0;
}

#portfolio .col-md-4 {
  padding: 5px;
  margin: 0;
}

#portfolio img {
  width: 100%;
  transition: all 0.2s ease-in-out;
}

#portfolio img:hover {
  opacity: 0.6;
}

/* FILTER CSS */

.filter-wrapper {
  width: 100%;
  margin: 0px 0 24px 0;
  overflow: hidden;
  text-align: center;
}

.filter-wrapper li {
  display: inline-block;
  margin: 4px;
}

.filter-wrapper li a {
  color: #376374;
  font-size: 13px;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: 8px 17px;
  display: block;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

.filter-wrapper li .selected, .filter-wrapper li a:focus, .filter-wrapper li a:hover {
  background: #77B9C6;
  color: #376374;
  outline: none;
}

/* ISOTOPE BOX CSS */

.iso-box-section {
  width: 100%;
}

.iso-box-wrapper {
  width: 100%;
  padding: 0;
  clear: both;
  position: relative;
}

.iso-box {
  position: relative;
  min-height: 50px;
  float: left;
  overflow: hidden;
  margin-bottom: 20px;
}

.iso-box>a {
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.iso-box>a {
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.fluid-img {
  width: 100%;
  display: block;
}

/* contact section */

#contact {
  background: #f4f4f4;
  text-align: center;
}

#contact .fa {
  background: #77B9C6;
  color: #376374;
  border-radius: 50%;
  font-size: 32px;
  width: 80px;
  height: 80px;
  line-height: 80px;
  text-align: center;
  margin-bottom: 20px;
  position: center;
}

#contact .fa a:hover {
  background: #77B9C6;
  transition: all 0.2s ease-in-out;
}

#contact form {
  color: #376374;
  padding-top: 80px;
}

#contact .form-control {
  border-radius: 0;
  box-shadow: none;
  margin-top: 10px;
  margin-bottom: 10px;
  transition: all 0.2s ease-in-out;
}

#contact .form-control:focus {
  border: 2px solid #376374;
}

#contact input {
  height: 50px;
}

#contact input[type="submit"] {
  border: 2px solid #376374;
  margin-top: 18px;
  height: 54px;
}

#contact input[type="submit"]:hover {
  background: #77B9C6;
  color: #376374;
}

#contact textarea {
  height: 170px;
}

.contact-info-box h3 {
  font-size: 16px;
}

/* footer section */

footer {
  background: url('../images/footer.jpg') no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
}

.social-icon {
  padding: 0;
  text-align: center;
  vertical-align: middle;
}

.social-icon li {
  list-style: none;
  display: inline-block;
  padding: 0;
}

.social-icon li a {
  border-radius: 50%;
  color: #376374;
  font-size: 32px;
  width: 80px;
  height: 80px;
  line-height: 80px;
  text-align: center;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  margin-top: 20px;
  margin-right: 10px;
}

.social-icon li a:hover {
  background: #77B9C6;
}

/* copyright section */

#copyright {
  background: #404040;
  color: #8AC3D5;
  padding-top: 20px;
  padding-bottom: 20px;
}

#copyright p {
  padding-top: 20px;
}

#copyright a {
  color: #fff;
}

#copyright a:hover {
  color: #FFD321;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

#copyright .fa {
  background: #383838;
  color: #ffffff;
  font-size: 18px;
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  text-decoration: none;
  outline: none;
  transition: all 0.2s ease-in-out;
}

#copyright .fa:hover {
  background: #77B9C6;
  color: #000;
}

@media screen and (min-width: 992px) {
  @-moz-document url-prefix() {
    #portfolio .col-lg-4, #portfolio .col-md-4 {
      width: 33.333%;
    }
  }
}

@media ( max-width: 980px) {
  #about img {
    padding-top: 40px;
  }
  #contact form {
    padding-top: 30px;
  }
}

@media screen and (max-width: 767px) {
  .contact-info-box {
    margin-bottom: 20px;
  }
  .contact-info-box:last-child {
    margin-bottom: 0;
  }
}

@media (max-width: 450px) {
  .heading {
    font-size: 40px;
  }
  #about .col-md-4 .fa {
    margin-top: 32px;
  }
  #contact h3 {
    font-size: 16px;
    padding-bottom: 40px;
  }
}